<div class="row text-center">
  <h2>{{member.lastname}}, {{member.firstname}} (#{{member.badgeno}})</h2>
  <h3>{{month | date: 'MMMM yyyy'}}</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>Standby</th>
        <th>Sleep-In</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-hide="stationTimes.length > 0">
        <td colspan="3">No sleep-ins or standbys this month</td>
      </tr>
      <tr data-ng-repeat="stationTime in stationTimes | orderBy: 'date'">
        <td>{{stationTime.date | date: 'EEE, d MMM'}}</td>
        <td>
          <span data-ng-show="stationTime.start_time">
            <span data-ng-switch="stationTime.deleted">
              <span data-ng-switch-when='true'>                
                <span class='deleted'>{{stationTime.start_time | date: 'HHmm'}} - {{stationTime.end_time | date: 'HHmm'}}</span>
                (<a data-ng-click="setDeleted(stationTime, false)">Undelete</a>)
              </span>
              <span data-ng-switch-default>
                {{stationTime.start_time | date: 'HHmm'}} - {{stationTime.end_time | date: 'HHmm'}} (<a data-ng-click="setDeleted(stationTime, true)">Delete</a>)
              </span>
            </span>
          </span>
        </td>
        <td>
          <span data-ng-show="stationTime.unit">
            <span data-ng-switch="stationTime.deleted">
              <span data-ng-switch-when='true'>                
                <span class='deleted'>{{stationTime.unit}}</span>
                (<a data-ng-click="setDeleted(stationTime, false)">Undelete</a>)
              </span>
              <span data-ng-switch-default>
                {{stationTime.unit}} (<a data-ng-click="setDeleted(stationTime, true)">Delete</a>)
              </span>
            </span>
          </span>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><button type="button" class="btn" data-ng-click="newStandby()">New Standby</button></td>
        <td><button type="button" class="btn">New Sleep-In</button></td>
      </tr>
    </tbody>
  </table>
  <div data-lp-month-control month="month"></div>
  <button type="button" class="btn" data-ng-click="exit()">Exit</button>
</div>
