<div class="row text-center">
  <h2>{{member.lastname}}, {{member.firstname}} (#{{member.badgeno}})</h2>
  <p>Add sleep-in:</p>
</div>
<div class="row">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="date" class="col-md-offset-1 col-md-2 control-label">Date:</label>
      <div class="col-md-9">
        <input type="text" id="date" data-ng-model="date" datepicker-popup="yyyy-MM-dd" 
          data-show-weeks="false" data-show-button-bar="false" />
      </div>
    </div>
    <div class="form-group">
      <label for="unit" class="col-md-offset-1 col-md-2 control-label">Unit:</label>
      <div class="col-md-9">
        <select data-ng-model="unit">
          <option>Engine</option>
          <option>Truck</option>
          <option>Ambulance</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <button type="button" class="btn btn-primary">Add</button>
        <button type="button" class="btn" data-ng-click="toMember()">Cancel</button>
      </div>
    </div>
  </form>
</div>
