<div class="row text-center">
  <h2>{{member.lastname}}, {{member.firstname}} (#{{member.badgeno}})</h2>
  <p>Add sleep-in:</p>
  <p>
    <label for="date">Date:</label>
    <input type="text" id="date" data-ng-model="date" datepicker-popup="yyyy-MM-dd" 
      data-show-weeks="false" data-show-button-bar="false" />
  </p>
  <p>
    <label for="unit">Unit:</label>
    <select data-ng-model="unit">
      <option>Engine</option>
      <option>Truck</option>
      <option>Ambulance</option>
    </select>
  </p>
  <p>
    <button type="button" class="btn btn-primary" data-ng-click="addSleepin()">Add</button>
    <button type="button" class="btn" data-ng-click="toMember(member.id)">Cancel</button>
  </p>
</div>
