<div class="row text-center">
  <div class="col-md-2"><img src="images/patch.png"/></div>
  <div class="col-md-6">
    <h1><strong>OVFC LOSAP</strong></h1>
    <h3>Enter your name or badge number:</h3>
    <input class="input-lg" type="text" data-ng-model="selectedMember" size="30"
      data-typeahead='m as m.lastname + ", " + m.firstname + " (#" + m.badgeno + ")" for m in findMember($viewValue)'
      data-typeahead-on-select='toMember(selectedMember.id)' data-typeahead-min-length="3"
      data-typeahead-template-url="typeaheadMember.html"/>
    <h4>For assistance, please see Lt. Zoeller or Sec. Organek</h4>
  </div>
  <div class="col-md-2"><img src="images/taz.png"/></div>
</div>

<script type="text/ng-template" id="typeaheadMember.html">
  <a>
    <span class="h4" data-ng-bind-html='match.label | typeaheadHighlight: query'></span>
  </a>
</script>
