<!DOCTYPE html>
<html data-ng-app='losap'>
<head>
  <title>OVFC Losap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
</head>
<body>

  <div class="container top-offset">
    <%= yield %>
  </div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
